* {
    margin: 0;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.card__title {    
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-size: 1.3em;
    position: relative;
}

.card__title:after {
    content: '';
    display: block;
    height: 0.15em;
    width: 6em;
    background: black;
    position: absolute;
    left: 50%;
    bottom: 5px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.card__logo-img {
    width: 25px;
    height: 25px;
}

.card__discription { 
    line-height: 1.5em;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.5em; 
    text-align: center;
    position: relative;
}

.user__name {
    padding: 1em;
}

.user__edu-name {
    color: #9797af;
}

.user__img {
    border-radius: 2em;
    width: 75px;
    height: 75px;
}

.user:hover:after {
    content: "";
    position: absolute;
    padding: 5.5em;
    -webkit-box-shadow: 0.2em 0.8em 0.5em  rgba(122,122,122,0.5);
    cursor: pointer;
}

.user__showModal {
    width: 15em;
    height:9em;
    display: none;
    border: 1px solid black;
    background: white;
    text-align: justify;
    padding: 0.5em;
}

.user__showModal__name {
    font-size: 1em;
    padding-bottom: 0.3em;
    font-weight: bold;
}

.user__showModal_bday {
    color: #9797af;
    font-size: 0.7em; 
    padding-bottom: 0.5em;
}

.user__showModal_data {
    font-size: 10px; 
    padding-bottom: 4px;
    font-weight: bold;
}

.user__showModal_phone {
    color: #9797af;
    font-size: 10px; 
}

.user__showModal_img {
    float: right;
    width: 65px;
    height: 65px;
}

.user__showModal_sendMessage {
    padding-top: 10px;
    width: 35px;
    height: 25px;
}
.user__showModal_onlain {
    color: #9797af;
    font-size: 10px; 
    padding-bottom: 4px;
    float: left;
}

.user__showModal_exit {
    float: right;
    width: 15px; 
    height: 15px;
}

.user__showModal_exit:hover {
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .card__logo-img, .user:hover:after {
        display: none;
    }

    .user {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .user__edu-name {
        padding: 0 1em;
    }
}
