* {
    margin: 0;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card__title {    
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-size: 1.3em;
    position: relative;
}

.card__title:after {
    content: '';
    display: block;
    height: 0.15em;
    width: 6em;
    background: black;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}

.card__logo-img {
    width: 25px;
    height: 25px;
}

.card__discription { 
    line-height: 1.5em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em; 
    text-align: center;
}

.user__name {
    padding: 1em;
}

.user__edu-name {
    color: #9797af;
}

.user__img {
    border-radius: 2em;
    width: 75px;
    height: 75px;
}

.user:hover:after {
    content: "";
    position: absolute;
    padding: 5.5em;
    box-shadow: 0.2em 0.8em 0.5em  rgba(122,122,122,0.5);
    cursor: pointer;
}

.showModal {
    border: 2px solid black;
    background: white;
    display: none;
    position: fixed;
    grid-template-columns: 1fr 80px;
    box-shadow: 0.2em 0.8em 0.5em  rgba(122,122,122,0.5);
    grid-template-areas: 
        "main exit"
        "name img"
        "bday img"
        "phone img"
        "other img";
}

.showModal__main {
    grid-area: main;
    justify-self: start;
    color: #9797af;
    font-size: 0.7em;
    padding: 2px;
}

.showModal__exit {
    grid-area: exit;
    justify-self: end;
    padding: 2px;
}

.showModal__exit:hover {
    cursor: pointer;
 }

.showModal__name {
    grid-area: name;
    justify-self: start;
    font-weight: bold;
    padding-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showModal__bday {
    grid-area: bday;
    color: #9797af;
    font-size: 0.7em;
    padding: 2px;
}

.showModal__phone {
    grid-area: phone;
    color: #9797af;
    justify-self: start;
    font-size: 0.7em;
    padding: 2px;
}

.showModal__img {
    grid-area: img;
}

.showModal__other {
    grid-area: other;
    justify-self: start;
    padding: 2px;   
}

.showModal__other_img {
    width: 30px;
    height: 25px;
}

.showModal__other_img {
    cursor: pointer;
}

.showModal_data {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 375px) {
    .card__logo-img, .user:hover:after {
        display: none;
    }

    .user {
        flex-direction: row;
    }

    .user__edu-name {
        padding: 0 1em;
    }
}